<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
  <a href="/"><img src="/static/logo.png" alt='Carolina Closet logo'></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <% if(userType) { %>
        <% if(userType == "admin") { %>
          <li class="nav-item rounded dropdown">
            <a class="nav-link rounded dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Admin
            </a>
            <div class="dropdown-menu col-xs-12" aria-labelledby="navbarDropdown">
                <a class="nav-link rounded" href="/admin/history">Transaction History</a>
                <a class="nav-link rounded" href="/admin/backup">Backup & Delete Data</a>
                <a class="nav-link rounded" href="/entry">Manage Items</a>
                <a class="nav-link rounded" href="/orders">Manage Orders</a>
                <a class="nav-link rounded" href="/entry/import">Import Items</a>
            </div>
          </li>
        <% } %>
      <% } %>
      <li class="nav-item rounded dropdown">
      <a class="nav-link rounded dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Visitor
      </a>
      <div class="dropdown-menu col-xs-12" aria-labelledby="navbarDropdown">
          <a class="nav-link rounded" href="/items">View Catalog & Reserve Clothes</a>
          <a class="nav-link rounded" href="/history">Your Orders</a>
      </div>
      </li>
      <li class="nav-item rounded dropdown">
        <a class="nav-link rounded dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            View Clothing
        </a>
        <div class="dropdown-menu">
              <h6 class="dropdown-header">Mens</h6>
              <a class="dropdown-item" href="/items/male/shirts">Shirts</a>
              <a class="dropdown-item" href="/items/male/shoes">Shoes</a>
              <a class="dropdown-item" href="/items/male/suits">Suits</a>            
              <a class="dropdown-item" href="/items/male/pants">Pants</a> 
              <div class="dropdown-divider"></div>
              <h6 class="dropdown-header">Womens</h6>
              <a class="dropdown-item" href="/items/female/shirts">Shirts</a>
              <a class="dropdown-item" href="/items/female/shoes">Shoes</a>
              <a class="dropdown-item" href="/items/female/suits">Suits</a>            
              <a class="dropdown-item" href="/items/female/pants">Pants</a>          
            </div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item rounded">
        <a class="nav-link rounded" href="/account/update">Update Account Info</a>
      </li>
      <li class="nav-item rounded float-right">
        <a class="nav-link rounded" href="https://sso.unc.edu/idp/logout.jsp">Logout</a>
      </li>
      <li class="nav-item rounded float-right">
        <a class="nav-link rounded" href="/cart"><i class="fas fa-shopping-cart"></i> Cart</a>
      </li>
    </ul>
  </div>
  </div>
</nav>
